@use "../setting/" as s;
@use "../mixin/" as m;

.contact-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::after{
        content: "お気軽にお問い合わせください";
        position: absolute;
        top: 220px;
    }
}

.contact-item{
    margin-top: 24px;

    &__header{
        display: flex;
        justify-content: space-between;
        font-weight: bold;

        &.need{
            @include m.oval("必須" , red);
        }

        &.free{
            @include m.oval("任意" , #000)
        }
    }

}

.submit{
    margin-top: 24px;
}