@use '../setting' as s;
@use '../mixin' as m;
%container {
	width: 92%;
	margin: 0 auto;
}

.l-container-s {
	@extend %container;
	max-width: 800px;
}

.l-container {
	@extend %container;
	max-width: s.$contentWidth;
}

.l-container-l {
	@extend %container;
	max-width: s.$contentWidthL;
}

.l-container-xl {
	@extend %container;
	max-width: 1400px;
}
