.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 40px;
    opacity: 0.5;
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 100;

    &-menu{
        display: flex;
        justify-content: space-between;
        font-size: 40px;

        &__item{
            margin-left: 80px;
            font-family: 'Ephesis', cursive;
            transition: .2s;
            border-radius: 16px;
            padding: 0 8px;

            &:hover{
                display: block;
                box-shadow: 5px 5px 10px gray;
            }

            &:focus{
                transform: translate(5px,5px);
                box-shadow: none;
            }
        }
    }
}
